<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e540fbc9d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <main>
        <h1>Habits: </h1>
        <ul class="habitItems">
        <% for(let i=0; i < habits.length; i++) {%>
            <li class="habit">
             <% if(habits[i].focused === true) {%>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <span class='focused'><%= habits[i].name %></span>
                    <i class="fa-regular fa-thumbs-down"></i>
                <% }else{ %>
                    <span class="unFocused"><%= habits[i].name %></span>
                <% } %>    
                <i class="fa-solid fa-trash"></i>
            </li>
        <% } %>
        </ul>

        <h2>Total Habits Tracked: <%= left %></h2>

        <h2>Add A Todo:</h2>

        <form action="/addHabit" method="POST">
            <input type="text" placeholder="Habit To Do" name="habitItem">
            <input type="submit">
        </form>
    </main>
    
    <script src='js/main.js'></script>
</body>
</html>